.nav-primary {
    display: flex;
}

.menu-primary-navigation-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 58px;        
}

.menu-item a {
    font-family: var(--font-heading);
    color: var(--color-green-600);
    font-size: 1.125rem;
}

.menu-item.current-menu-item a {
    color: var(--color-neutral-700);
    font-style: italic;
}

.navegation-button {
    margin-left: 120px;
}
